@{
    ViewData["Title"] = "AddBanner";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}
@model IEnumerable<TalentDestination.Models.Banner>
<div class="forms">

    <div class="form-grids row widget-shadow" data-example-id="basic-forms">
        <div class="form-title">
            <h4>Add Banner :</h4>
        </div>
        <div class="form-body">
            <form method="post" enctype="multipart/form-data" action="AddBanner">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Banner Heading</label>
                            <input type="text" class="form-control" required id="BannerHeading" placeholder="Banner Heading" name="BannerHeading">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="exampleInputFile">Banner Image/Video</label>
                            <input type="file" accept=".jpg, .jpeg, .png, .gif, .mp4, .avi, .mkv" id="ImageFile" name="ImageFile">

                        </div>
                    </div>
                </div>
                <div class="row  form-title" style="text-align:center">
                    <button type="submit" class="btn btn-default">Submit</button>
                </div>

            </form>
        </div>
    </div>

</div>

<div class="tables">
    <div class="table-responsive bs-example widget-shadow">
        <h4>Banner List</h4>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Sr.No</th>
                    <th>Banner Heading</th>
                    <th>Banner Type</th>
                    <th>Banner Image/Video</th>
                    <th>Added By</th>
                    <th>Added On</th>
                    <th>Status</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                @{
                    var count = 0;
                    @if (Model != null && Model.Count() > 0)
                    {
                        @foreach (var item in Model)
                        {
                            count++;
                            <tr>

                                <th scope="row">@count</th>
                                <td>@item.BannerHeading</td>
                                <td>@item.FileType</td>
                                <td>
                                    @if (item.FileType.Trim().ToLower() == "video")
                                    {
                                        <video style="height:100px;width:100px" controls>
                                            <source src='../BannerImages/@item.FilePath' type="video/mp4">
                                            Your browser does not support the video tag.
                                        </video>
                                    }
                                    else
                                    {
                                    <img src='../BannerImages/@item.FilePath' style="height:100px;width:100px" />
                                    }
                                </td>
                                <td>@item.AddedBy</td>
                                <td>@item.AddedOn</td>
                                <td>@item.Status</td>
                                <td><a href="#"><i style="color:green;font-weight:bold" class="fa fa-pencil"></i></a></td>
                                <td><a href="#"><i style="color:red;font-weight:bold" class="fa fa-trash-o"></i></a></td>
                            </tr>
                        }
                    }
                }
            </tbody>

        </table>
    </div>
</div>